/* common shared styles */
body{
    font-family: 'Roboto', sans-serif;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: orangered;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    text-decoration: none;
    color: darkslategray;
}
.btn-primary{
    border-radius: 5px;
    background: orangered;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
/* header related style */
.header{
    background-color: bisque;
    background-image: url('../header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannar .profile-picture{
    width: 500px;
}
.bannar-greeting{
    font-size: 45px;
    color:#474747;
    margin-bottom: 0;
}
.bannar-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.bannar-discription{
    margin-top: 15px;
    margin-bottom: 20px;
}
.bannar-content{
    max-width: 500px;

}